<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lgh.huanglib" >
    <application
        android:networkSecurityConfig="@xml/network_security_config">
        <!--${applicationId} 不能用固定的包名  不然多渠道到打包会报错
        android:name="android.support.v4.content.FileProvider"-->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.android7.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>
</manifest>
